body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.table {
  font-size: 1.15rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 2rem;
}

table,
th,
td {
  border: thin solid black;
  border-spacing: 0;
}

td {
  padding: 1rem;
}
.table > thead {
  background-color: aqua;
}
